{
  "extends": [
    "plugin:node/recommended",
    "airbnb-base",
    "../.eslintrc"
  ],
  "plugins": ["node"],
  "rules": {
    "node/no-unpublished-require": "off",
    "node/no-extraneous-require": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "env": {
    "mocha": true
  }
}
