---
- name: Get bridge repo
  git:
    repo: "{{ bridge_repo }}"
    dest: "{{ bridge_path }}"
    force: no
    update: no
    version: "-- {{ bridge_repo_branch }}" ## The '--'' is necessary for branches with '/' in name, like forked branches: 'pull/x'
- name: Initialize submodules
  shell: git submodule update --init
  args:
    chdir: "{{ bridge_path }}"
