**/node_modules
**/submodules
**/Dockerfile
**/.dockerignore
**/docker-compose.yml
.gitmodules
**/.git
**/docs
**/*.md

contracts/test
contracts/build
oracle/test
monitor/test
monitor/responses
commons/test
oracle/**/*.png
oracle/**/*.jpg
audit
