$FileCreateMode 0644
template(name="DockerLogFileName_Redis" type="list") {
   constant(value="/var/log/docker/")
   property(name="syslogtag" securepath="replace" regex.type="ERE" regex.submatch="1" regex.expression="oracle_(.*redis.*)\\/[a-zA-Z0-9]+\\[")
   constant(value="/docker.log")
}

if $programname contains 'oracle' and $programname contains 'redis' then \
  ?DockerLogFileName_Redis

$FileCreateMode 0600
