#! /bin/bash

### BEGIN INIT INFO
# Provides:          poabridge
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start daemon at boot time
# Description:       Enable service provided by daemon.
### END INIT INFO

WORKDIR="{{ '/home/' + compose_service_user | default('poadocker') + '/' + bridge_path + '/oracle' if bridge_path[:1] != "/" else bridge_path + '/oracle' }}"

#Getting path to private key file and variable name for parsing key file
keyfile="{{ keyfile_path }}"
vaddr="ORACLE_VALIDATOR_ADDRESS="
vkey="ORACLE_VALIDATOR_ADDRESS_PRIVATE_KEY="
composefileoverride="{{ composefileoverride | default('') }}"

#Parsing file content and add key to variable
while read -r line
do
    case $line in
        $vaddr*)
            vaddr=${line#$vaddr}
            ;;
        $vkey*)
            vkey=${line#$vkey}
            ;;
    esac
done < $keyfile

start(){
    echo "Starting bridge.."
    cd $WORKDIR
    sudo -u "{{ compose_service_user }}" /usr/local/bin/docker-compose $composefileoverride down -v
    sudo -u "{{ compose_service_user }}" /usr/local/bin/docker-compose $composefileoverride rm -fv
    sudo -u "{{ compose_service_user }}" ORACLE_VALIDATOR_ADDRESS=$vaddr ORACLE_VALIDATOR_ADDRESS_PRIVATE_KEY=$vkey /usr/local/bin/docker-compose $composefileoverride up --detach
}

stop(){
    echo "Stopping bridge.."
    cd $WORKDIR
    sudo -u "{{ compose_service_user }}" /usr/local/bin/docker-compose $composefileoverride  down -v
    sleep 2
}

status(){
    echo "Bridge status:"
    cd $WORKDIR
    sudo -u "{{ compose_service_user }}" /usr/local/bin/docker-compose $composefileoverride  ps
}


case "$1" in

  start)
      start
    ;;

  stop)
      stop
    ;;

  status)
      status
    ;;

  restart)
    echo "Restarting bridge.."
    stop
    start
    ;;

  *)
    echo $"Usage: $0 {start|stop|restart|status}"
    exit 1
    ;;

esac

exit 0
