---
core-foundation:
  hosts:
    192.0.2.1:
      ansible_user: ubuntu
      ansible_python_interpreter: "/usr/bin/python3"
      signer_keyfile: ''
      signer_password: ""
      syslog_server_port: ""        # this value should be provided to you

      # last_checked_deposit_relay: 1       # optional value, consult README
      # last_checked_withdraw_relay: 1      # optional value, consult README
      # last_checked_withdraw_confirm: 1    # optional value, consult README
