## Validator-specific options                                                                                                                                                                                     
VALIDATOR_ADDRESS={{ VALIDATOR_ADDRESS }} 
VALIDATOR_ADDRESS_PRIVATE_KEY={{ VALIDATOR_ADDRESS_PRIVATE_KEY }} 
