.header-menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    @media screen and (max-width: $mobile-width) {
        display: none;
    }
    @media screen and (max-width: $tablet-width) {
        justify-content: flex-end;
        width: auto;
    }
}