.header {
  background-color: $header-background-color;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: 9999;

  .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: $mobile-width) {
      padding: 22px 0;
      width: 93%;
    }

    @media screen and (max-width: $tablet-width) {
      padding: 22px 0;
    }
  }

  &-logo {
    background-image: url('#{ $logo-image }');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: $header-logo-height;
    width: $header-logo-width;
  }

}
