
.bridge-container {
    align-items: center;
    display: flex;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;

    @media screen and (max-width: $tablet-width) {
        height: 512px;
    }
}

.bridge {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;

    .bridge-home {
        align-self: center;
        background-image: linear-gradient(to right, $bridge-gradient-start, $bridge-gradient-end);
        display: flex;
        height: 80px;
        width: 960px;

        @media screen and (max-width: $tablet-width) {
            display: none
        }

        .bridge-home-container {
            background-color: $main-background-color;
            min-width: 60px;
            width: 9%;

            .home-logo-container {
                align-items: center;
                background-color: $bridge-logo-background-color;
                border-radius: 10px;
                border-bottom-right-radius: 0;
                display: flex;
                height: 100%;
                justify-content: center;
            }
        }

        .home-address-container {
            align-items: center;
            background-color: $main-background-color;
            border-bottom-left-radius: 10px;
            display: flex;
            width: 92%;

            .icon-wallet {
                padding: 20px;
            }
        }
    }

    .bridge-foreign {
        align-self: center;
        background-image: linear-gradient(to right, $bridge-gradient-start, $bridge-gradient-end);
        display: flex;
        height: 80px;
        width: 960px;

        @media screen and (max-width: $tablet-width) {
            display: none
        }

        .bridge-foreign-container {
            background-color: $main-background-color;
            min-width: 60px;
            width: 9%;

            .foreign-logo-container {
                align-items: center;
                background-color: $bridge-gradient-end;
                border-radius: 10px;
                border-top-left-radius: 0;
                display: flex;
                height: 100%;
                justify-content: center;
            }
        }

        .foreign-address-container {
            align-items: center;
            background-color: $main-background-color;
            border-top-right-radius: 10px;
            display: flex;
            justify-content: flex-end;
            text-align: right;
            width: 92%;

            .icon-wallet {
                padding: 20px;
            }
        }
    }

    .address-label {
        color: $primary-color;
        font-size: 12px;
    }

    .address-description {
        color: $primary-color;
        font-size: 16px;
        font-weight: 700;

        @media screen and (max-width: $tablet-width) {
            font-size: 9px;
        }
    }
    .bridge-transfer {
        height: 276px;
        display: flex;
        justify-content: center;

        @media screen and (max-width: $tablet-width) {
            height: 389px;
        }
        .left-image-wrapper {
            background-color: $bridge-gradient-start;
            .left-image {
                background-color: $main-background-color;
                background-image: url('#{ $bridge-image-left }');
                background-position: calc(100% - 5px) 5px;
                background-repeat: no-repeat;
                background-size: contain;
                border-top-right-radius: 10px;
                height: $bridge-side-image-height;
                max-width: 100%;
                width: $bridge-side-image-width;

                @media screen and (max-width: $tablet-width) {
                    display: none;
                }
            }
        }

        .right-image-wrapper {
            background-color: $bridge-gradient-end;
            .right-image {
              background-color: $main-background-color;
              background-image: url('#{ $bridge-image-right }');
              background-position: 5px 5px;
              background-repeat: no-repeat;
              background-size: contain;
              border-bottom-left-radius: 10px;
              height: $bridge-side-image-height;
              max-width: 100%;
              width: $bridge-side-image-width;

              @media screen and (max-width: $tablet-width) {
                  display: none;
              }
            }
        }

        .bridge-transfer-content {
            background-image: linear-gradient(to right, $bridge-gradient-start, $bridge-gradient-end);
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
            display: flex;
            flex-shrink: 0;
            flex-wrap: wrap;
            width: 880px;

            @media screen and (max-width: $tablet-width) {
                border-radius: 8px;
                flex-direction: column;
                max-width: 92%;
            }

            .bridge-transfer-content-background {
                display: flex;
                flex-shrink: 0;
                flex-wrap: wrap;
                width: 880px;

                @media screen and (max-width: $tablet-width) {
                    background-image: url('#{ $bridge-image-center-pointing-down }');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 164px 203px;
                    flex-direction: column;
                    width: auto;
                }
            }

            .network-container-home {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                height: 136px;
                justify-content: space-evenly;
                padding: 70px 1% 70px 5%;
                width: 22%;

                @media screen and (max-width: $tablet-width) {
                    align-items: center;
                    align-self: center;
                    height: 136px;
                    padding: 5px 0 5px 0;
                    width: auto;
                }
            }
            .network-container-foreign {
                align-items: flex-end;
                display: flex;
                flex-direction: column;
                height: 136px;
                justify-content: space-evenly;
                padding: 70px 5% 70px 1%;
                width: 22%;

                @media screen and (max-width: $tablet-width) {
                    align-items: center;
                    align-self: center;
                    height: 136px;
                    padding: 5px 0 5px 0;
                    width: auto;
                }
            }
            .bridge-network-data {
                align-items: center;
                cursor: pointer;
                display: flex;
            }
            .network-basic-label {
                font-size: 13px;
                color: $bridge-label-color;
            }
            .network-title {
                color: $bridge-label-color;
                display: block;
                font-size: 24px;
                font-weight: 700;
            }
            .network-name {
                color: $bridge-label-color;
                display: block;
                font-size: 24px;
                font-weight: 700;
            }
            .text-left {
                text-align: left;

                @media screen and (max-width: $mobile-width) {
                    text-align: center;
                }
            }
            .text-right {
                text-align: right;

                @media screen and (max-width: $mobile-width) {
                    text-align: center;
                }
            }
            .network-id {
                color: $bridge-label-color;
                font-size: 14px;
                font-weight: 700;
                line-height: 26px;
            }
            .network-id-container {
                background-color: $bridge-link-color;
                border-radius: 3px;
                height: 26px;
                margin-left: 10px;
                text-align: center;
                width: 32px;
            }
            .network-balance {
                color: $bridge-balance-color;
                font-size: 13px;
                font-weight: 700;
            }
            .network-show-more {
                color: $bridge-link-color;
                font-size: 14px;
                font-weight: 700;
            }
            .info-icon {
              align-items: center;
              display: flex;
              justify-content: center;
              path {
                fill: $bridge-link-color;
              }
            }
            .info-icon-left {
                margin-right: 10px;
            }
            .info-icon-right {
                margin-left: 10px;
            }
            .transfer-right {
                background-image: url('#{ $bridge-image-center-pointing-right }');
                background-position: center;
                background-repeat: no-repeat;

                @media screen and (max-width: $tablet-width) {
                    background-image: none;
                }
            }
            .transfer-left {
                background-image: url('#{ $bridge-image-center-pointing-left }');
                background-position: center;
                background-repeat: no-repeat;

                @media screen and (max-width: $tablet-width) {
                    background-image: none;
                }
            }
            .form-container {
                height: 276px;
                max-width: 384px;
                width: 44%;
                @media screen and (max-width: $tablet-width) {
                    align-self: center;
                    height: 97px;
                    width: 100%;
                }
                .bridge-form {
                    display: flex;
                    flex-direction: column;
                    height: 276px;
                    justify-content: space-evenly;
                    @media screen and (max-width: $tablet-width) {
                        height: auto;
                        width: 100%;
                    }
                    &-controls {
                        @extend %flex-between;
                        background-color: $bridge-textfield-background;
                        border-radius: 5px;
                        padding: 8px 8px 8px 0;

                        @media screen and (max-width: $tablet-width) {
                            background-color: unset;
                            flex-direction: column;
                            padding: 8px 8px 8px 8px;
                        }
                    }
                    .bridge-form-input-container {
                        display: flex;
                        justify-content: space-between;
                        width: 292px;

                        @media screen and (max-width: $tablet-width) {
                            background-color: rgba(251, 251, 252, 0.2);
                            border-radius: 3px 3px 0 0;
                            width: 100%;
                        }
                    }
                    &-input {
                        background-color: transparent;
                        color: $bridge-textfield-color;
                        font-size: 24px;
                        font-weight: 700;
                        height: 48px;
                        padding-left: 16px;
                        width: 165px;

                        &::placeholder {
                            color: $bridge-textfield-placeholder-color;
                            font-size: 24px;
                            font-weight: 700;

                            @media screen and (max-width: $tablet-width) {
                                font-size: 18px;
                            }
                        }

                        &::placeholder {
                            opacity: 0.3;
                        }
                        @media screen and (max-width: $tablet-width) {
                            font-size: 18px;
                        }
                    }
                    &-label {
                        color: $bridge-input-label-color;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 48px;
                        margin: 0 10px;
                        text-transform: uppercase;

                        @media screen and (max-width: $tablet-width) {
                            font-size: 18px;
                        }
                    }
                    &-button {
                        background-color: $bridge-button-background-color;
                        border-radius: 3px;
                        color: $bridge-button-text-color;
                        display: block;
                        flex-shrink: 0;
                        font-weight: 700;
                        height: 48px;
                        text-decoration: none;
                        width: 92px;

                        @media screen and (max-width: $tablet-width) {
                            border-radius: 0 0 3px 3px;
                            width: 100%;
                        }

                        &:hover {
                            background-color: darken($bridge-button-background-color, 10%);
                        }
                    }
                    .bridge-transfer-direction {
                        font-size: 14px;
                        color: $bridge-label-color;
                    }
                }
            }
        }
    }
    .bridge-statistics-container {
        align-self: center;
        margin-top: 60px;

        @media screen and (max-height: 720px) {
            margin-top: 30px;
        }
    }
    .network-details {
        display: flex;
        flex-direction: column;
        min-width: 558px;

        @media screen and (max-width: $tablet-width) {
            min-width: 100%;
        }

        .details-logo-container {
            align-items: center;
            background-color: $modal-background-color;
            border-radius: 10px;
            border-bottom-right-radius: 0;
            display: flex;
            height: 80px;
            justify-content: center;
            width: 85px;

            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }

        .details-logo-container:after {
            content: "";
            position: absolute;
            height: 10px;
            width: 20px;
            bottom: 0;

            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }
        .details-logo-container:after {
            border-radius: 0 0 0 10px;
            box-shadow: -10px 0 0 0 #fff;
            right: 453px;
            top: 70px;

            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }
        .details-body {
            align-self: flex-end;
            background-color: $modal-background-color;
            border-radius: 0 10px 10px 10px;
            display: flex;
            flex-direction: column;
            height: 254px;
            justify-content: space-between;
            padding: 38px;
            width: 440px;

            @media screen and (max-width: $tablet-width) {
                align-self: center;
                border-radius: 10px 10px 10px 10px;
                height: 430px;
                padding: 20px 15px 20px 15px;
                width: 85%;
            }
            @media screen and (max-width: $tablet-width) and (min-width: 415px) {
                height: 300px;
            }
            @media screen and (max-width: 600px) {
                height: 250px;
            }

            .details-data-container {
                display: flex;
                justify-content: space-between;

                @media screen and (max-width: $tablet-width) {
                    flex-direction: column;
                }

                .details-label {
                    color: $modal-text-color;
                    font-size: 14px;
                }
                .details-description {
                    color: $modal-link-color;
                    font-size: 14px;
                }
                .details-description-black {
                    color: $modal-text-color;
                    font-size: 14px;
                    font-weight: 700;
                }
                .details-copy {
                    cursor: pointer;
                }
            }
        }
        .details-body:before {
            content: "";
            position: absolute;
            height: 10px;
            width: 20px;
            bottom: 0;
            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }
        .details-body:before {
            left: 22px;
            top: 80px;
            border-radius: 0 10px 0 0;
            box-shadow: 10px 0 0 0 #fff;
            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }
    }
    .transfer-alert {
        background-color: $modal-background-color;
        border-radius: 8px;
        display: flex;
        height: 265px;
        width: 600px;
        @media screen and (max-width: $tablet-width) {
            flex-direction: column;
            height: auto;
            width: 100%;
        }
        .image-container {
            margin-right: 20px;
            width: 166px;

            @media screen and (max-width: $tablet-width) {
                width: 100%;
            }
            .arrows-icon {
                height: 128px;
                margin-left: 42px;
                margin-top: 39px;
                width: 124px;
            }
        }
        .alert-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-bottom: 40px;
            padding-right: 60px;
            padding-top: 40px;
            width: 374px;

            @media screen and (max-width: $tablet-width) {
                padding-left: 5px;
                padding-top: 0;
                width: 100%;
            }
            .alert-corner {
                height: 12px;
                width: 10px;
            }
            .transfer-title {
                align-items: center;
                color: $bridge-transfer-title-color;
                display: flex;
                font-size: 14px;
                justify-content: space-between;

                path {
                    fill: $primary-color;
                }

                .alert-logo-box {
                    align-items: center;
                    background-color: $alert-logo-box-background-color;
                    border-radius: 4px;
                    display: flex;
                    height: 50px;
                    justify-content: center;
                    width: 50px;
                }
            }
            .transfer-description {
                color: $modal-text-color;
                font-size: 14px;
                line-height: 1.71;
                padding-bottom: 10px;
                padding-top: 10px;
            }
            .transfer-buttons {
                display: flex;
                justify-content: space-between;
                padding: 20px 0 0;

                .transfer-confirm {
                    background-color: $button-background-color;
                    border-radius: 3px;
                    color: $button-text-color;
                    flex-grow: 1;
                    font-size: 15px;
                    font-weight: 700;
                    height: 40px;
                    max-width: 49%;
                    text-decoration: none;

                    &:hover {
                        background-color: darken($button-background-color, 10%);
                    }
                }
                .transfer-cancel {
                    background-color: $button-bordered-background-color;
                    border-radius: 3px;
                    border: solid 1px $button-bordered-border-color;
                    color: $button-bordered-text-color;
                    flex-grow: 1;
                    font-size: 15px;
                    font-weight: 700;
                    height: 40px;
                    max-width: 49%;
                    text-decoration: none;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

.noWallet-alert {
    background-color: $modal-background-color;
    border-radius: 10px 8px 8px 10px;
    display: flex;
    height: 380px;
    width: 540px;
    @media screen and (max-width: $small-mobile-width) {
        padding-top: 60px;
    }
    @media screen and (max-width: $tablet-width) {
        flex-direction: column;
        width: 92%;
        height: auto;
        margin-left: 4%;
    }
    .noWallet-image-container {
        background-image: linear-gradient(to right, $gradient-color-2, $gradient-color-1);
        border-radius: 8px 0 0 8px;
        width: 150px;
        @media screen and (max-width: $tablet-width) {
            display: none;
        }
        .noWallet-icon {
            margin-top: 0;
            width: 150px;
        }
    }
    .noWallet-alert-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 24px 30px;
        width: 389px;

        @media screen and (max-width: $tablet-width) {
            align-self: center;
            padding: 10px 0;
            width: 88%;
        }
        .noWallet-title {
            color: $modal-title-color;
            font-size: 24px;
            line-height: 1;

            @media screen and (max-width: $tablet-width) {
                font-size: 30px;
                padding-top: 2%;
                padding-bottom: 2%;
            }
        }

        .noWallet-description {
            color: #666;
            font-size: 14px;
            line-height: 1.71;
            padding-bottom: 10px;
            padding-top: 10px;
            @media screen and (max-width: $tablet-width) {
                padding-left: 1%;
                padding-right: 1%;
            }
        }
    }

    .noWallet-buttons {
        column-gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;

        @media screen and (max-width: $mobile-width) {
            grid-template-columns: 1fr;
        }

        .noWallet-metamask {
            background-color: $button-background-color-2;
            border-radius: 3px;
            color: $button-text-color-2;
            line-height: 36px;
            text-align: center;
            text-decoration: none;

            &:hover {
                background-color: darken($button-background-color-2, 10%);
            }
        }
        .noWallet-niftyWallet {
            background-color: $button-background-color-4;
            border-radius: 3px;
            color: $button-text-color-4;
            line-height: 36px;
            text-align: center;
            text-decoration: none;

            &:hover {
                background-color: darken($button-background-color-4, 10%);
            }
        }
        .noWallet-alphawallet {
            background-color: $button-background-color-3;
            border-radius: 3px;
            color: $button-text-color-3;
            line-height: 36px;
            text-align: center;
            text-decoration: none;

            &:hover {
                background-color: darken($button-background-color-3, 10%);
            }
        }
        .noWallet-cancel {
            background-color: $button-bordered-background-color;
            border-radius: 3px;
            border: 1px solid $button-bordered-border-color;
            color: $button-bordered-text-color;
            height: 36px;
            text-decoration: none;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.disclaimer-alert {
    background-color: $modal-background-color;
    border-radius: 8px;
    display: flex;
    padding: 15px 0;
    width: 600px;

    @media screen and (max-width: $tablet-width) {
        flex-direction: column;
        margin: 0 auto;
        width: 92%;
    }

    .image-container {
        width: 164px;

        @media screen and (max-width: $tablet-width) {
            display: none;
        }

        .disclaimer-icon {
            height: 173px;
            margin-left: 25px;
            margin-top: 44px;
            width: 117px;
        }
    }
    .alert-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 40px;
        padding-right: 46px;
        padding-top: 40px;
        width: 389px;

        @media screen and (max-width: $tablet-width) {
            align-self: center;
            padding: 10px 0;
            width: 88%;
        }

        .alert-corner {
            height: 12px;
            width: 10px;
        }
        .disclaimer-title {
            color: $modal-title-color;
            font-size: 24px;
            line-height: 1;

            @media screen and (max-width: $tablet-width) {
                font-size: 30px;
                padding-bottom: 2%;
                padding-top: 2%;
            }
        }
        .disclaimer-description {
            color: $modal-text-color;
            font-size: 14px;
            line-height: 1.71;
            padding-bottom: 10px;
            padding-top: 10px;

            @media screen and (max-width: $tablet-width) {
                padding-left: 1%;
                padding-right: 1%;
            }
        }
        .disclaimer-tos {
            color: $modal-text-color;
            padding-left: 5px;
        }
        .disclaimer-link {
            color: $modal-link-color;
        }

        .disclaimer-buttons {
            .disclaimer-confirm {
                background-color: $button-background-color;
                border-radius: 3px;
                color: $button-text-color;
                font-size: 15px;
                font-weight: 700;
                height: 40px;
                text-decoration: none;
                min-width: 100px;

                &:hover {
                    background-color: darken($button-background-color, 10%);
                }
            }
            .disclaimer-confirm-disabled {
                background-color: $button-background-color;
                border-radius: 3px;
                color: $button-text-color;
                cursor: default;
                font-size: 15px;
                font-weight: 700;
                height: 40px;
                opacity: 0.5;
                text-decoration: none;
                min-width: 100px;
            }
        }
    }
}