.green {
    color: $secondary-color;
}

.red {
    color: $danger-color;
}

.purple {
    color: $primary-color;
}

.blue {
    color: $blue-color;
}

.background-green {
    background-color: $secondary-color;
}

.background-red {
    background-color: $danger-color;
}

.background-purple {
    background-color: $primary-color;
}

.background-blue {
    background-color: $blue-color;
}