.network-modal {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow-y: auto;

  .modal {
    border-radius: 10px;
    min-height: $modal-min-height;
    min-width: $modal-min-width;
    position: relative;

    @media screen and (max-width: $tablet-width) {
      width: 90%;
      top: 30px;
    }

    @media screen and (max-width: 600px) {
      width: 90%;
      top: 60px;
    }

    @media screen and (max-width: $mobile-width) {
      min-width: 90%;
      width: 90%;
      top: 0;
    }

    .title {
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
    }

    .description {
      color: #8197a2;
      font-size: 13px;
      line-height: 24px;
      margin-bottom: 25px;
    }

    .close-button {
      padding: $modal-close-button-padding;
      position: absolute;
      right: $modal-close-button-right;
      top: $modal-close-button-top;
      z-index: 400000;

      i {
        &.icon {
          &:before {
            content: url($modal-close-button);
          }
        }
      }

      &:hover {
        cursor: pointer;
      }

      @media screen and (max-width: 600px) {
        right: -10px;
      }

      @media screen and (max-width: $mobile-width) {
        top: $modal-close-button-top-mobile;
        right: $modal-close-button-right-mobile;
      }
    }

  }
}
