.status-page {
  display: flex;
  justify-content: center;

  .status-page-container {
    display: flex;
    flex-direction: $status-container-flex-direction;
    justify-content: $status-container-justify-content;
    align-items: $status-container-align-items;;
    max-width: $container-width;
    width: $status-page-container-width;
    padding: $status-container-padding;

    @media screen and (max-width: $tablet-width-landscape) {
      width: $status-page-container-mobile-width;
      flex-direction: $status-container-mobile-flex-direction;
    }

    @media screen and (max-width: $tablet-width) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .status-title {
      color: $status-text-color;
      font-size: $status-title-font-size;
      line-height: $status-title-line-height;
      text-align: left;
      font-weight: $status-title-font-weight;
      letter-spacing: $status-title-letter-spacing;
      text-transform: $status-title-text-transform;
      padding: $status-title-padding;
      @media screen and (max-width: $tablet-width) {
        text-align: center;
       }
    }

    .status-configuration-container {
      display: flex;
      flex-direction: column;

      @media screen and (max-width: $tablet-width) {
        padding: $status-configuration-container-padding;
      }

      .status-configuration-data {
        display: flex;
        justify-content: space-around;

        @media screen and (max-width: $tablet-width) {
          column-gap: 30px;
          display: $status-configuration-data-display;
          grid-template-columns: 1fr 1fr;
          row-gap: 20px;
          flex-wrap: wrap;
          justify-content: $statistics-fee-data-justify-content;

          .datablock-container {
            margin: $statistics-bridge-data-mobile-margin;
          }
        }
      }
    }

    .status-authorities-container {
      display: flex;
      flex-direction: column;
      margin-top: 80px;

      .status-authorities-title {
        padding-bottom: 30px;
        @media screen and (max-width: $mobile-width) {
          text-align: center;
         }
      }

      .status-authorities-data {
        display: flex;
        flex-direction: column;

        .authority {
          display: flex;
          padding-bottom: 20px;

          .authority-number {
            color: $status-authority-number-color;
            font-size: 30px;
            font-weight: 700;
            line-height: 59px;
            padding-right: 20px;
            text-align: left;

            @media screen and (max-width: $tablet-width) {
              padding-right: 5px;
            }
          }

          .authority-logo {
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            height: 59px;
            margin-left: 20px;
            width: 59px;

            &.authority-logo-0 {
              background-image: url('#{ $status-authority-logo-0 }');
            }
            &.authority-logo-1 {
              background-image: url('#{ $status-authority-logo-1 }');
            }
            &.authority-logo-2 {
              background-image: url('#{ $status-authority-logo-2 }');
            }

            @media screen and (max-width: $tablet-width) {
              display: none;
            }
          }

          .authority-address {
            color: $status-authority-address-color;
            font-size: 16px;
            font-weight: 700;
            line-height: 59px;
            padding-left: 20px;
            text-align: left;

            @media screen and (max-width: $tablet-width) {
              font-size: 12px;
              padding-left: 0;
              display: none;
            }
          }
          .authority-address-mobile {
            display: none;
            @media screen and (max-width: $tablet-width) {
              color: $status-authority-address-color;
              font-size: 16px;
              font-weight: 700;
              line-height: 59px;
              padding-left: 20px;
              text-align: left;
              display: block;
            }
          }
        }
      }
    }
  }

  .status-left-container {
    margin-right: auto;
    padding-top: 25px;
    width: 15%;
    display: $status-left-container;

    @media screen and (max-width: $tablet-width-landscape) {
      display: none;
    }
  }
}
