.statistics-page {
  display: flex;
  justify-content: center;

  .statistics-page-container {
    display: flex;
    flex-direction: column;
    justify-content: $status-container-justify-content;
    max-width: $container-width;
    padding-bottom: 25px;
    width: $statistics-page-container-width;

    @media screen and (max-width: $tablet-width-landscape) {
      width: $status-page-container-mobile-width;
    }

    @media screen and (max-width: $tablet-width) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .statistics-title {
      color: $statistics-title-color;
      display: block;
      font-size: $statistics-title-font-size;
      line-height: $statistics-title-line-height;
      font-weight: $statistics-title-font-weight;
      letter-spacing: $statistics-title-letter-spacing;
      text-transform: $statistics-title-text-transform;
      padding: $statistics-title-padding;
      text-align: left;
      @media screen and (max-width: $tablet-width) {
        text-align: center;
       }
    }

    .statistics-bridge-container {
      display: flex;
      flex-direction: column;
      padding: $status-container-padding;

      .statistics-bridge-data {
        display: flex;
        justify-content: $statistics-fee-data-justify-content;

        @media screen and (max-width: $tablet-width) {
          column-gap: 30px;
          display: $status-configuration-data-display;
          grid-template-columns: 1fr 1fr;
          row-gap: 20px;
          flex-wrap: wrap;

          .datablock-container {
            margin: $statistics-bridge-data-mobile-margin;
          }
        }
      }
    }

    .statistics-fee-container {
      display: flex;
      flex-direction: column;
      padding: $statistics-fee-container-padding;
      width: $statistics-fee-container-width;
      order: $statistics-fee-container-order;

      @media screen and (max-width: $tablet-width) {
        width: auto;
        padding-top: 45px;
      }

      .statistics-fee-data {
        display: flex;
        justify-content: $statistics-fee-data-justify-content;

        @media screen and (max-width: $tablet-width) {
          width: auto;
          column-gap: 30px;
          display: $status-configuration-data-display;
          grid-template-columns: 1fr 1fr;
          row-gap: 20px;
          flex-direction: column;
          align-items: center;
        }
      }
    }

    .statistics-transaction-container {
      display: flex;
      justify-content: space-between;
      padding: $statistics-fee-container-padding;

      @media screen and (max-width: $tablet-width) {
        flex-direction: column;
        padding-top: 45px;
      }

      .statistics-deposit-container {
        width: $statistics-deposit-container-width;

        @media screen and (max-width: $tablet-width) {
          margin-bottom: 40px;
          width: auto;
        }

      }

      .statistics-withdraw-container {
        width: $statistics-deposit-container-width;

        @media screen and (max-width: $tablet-width) {
          width: auto;
        }
      }

      .statistics-bridge-data {
        display: flex;
        justify-content: $statistics-fee-data-justify-content;

        @media screen and (max-width: $tablet-width) {
          column-gap: 30px;
          display: $status-configuration-data-display;
          grid-template-columns: 1fr 1fr;
          row-gap: 20px;
          flex-wrap: wrap;

          .datablock-container {
            margin: $statistics-bridge-data-mobile-margin;
          }
        }
      }
    }

  }

  .statistics-left-container {
    margin-right: auto;
    padding-top: 25px;
    width: 15%;
    display: $statistics-left-container-display;

    @media screen and (max-width: $tablet-width-landscape) {
      display: none;
    }
  }
}
