{
  "extends": [
    "plugin:node/recommended",
    "airbnb-base",
    "../.eslintrc"
  ],
  "plugins": ["node"],
  "rules": {
    "node/no-unpublished-require": "off"
  },
  "env": {
    "mocha": true
  }
}
