sokol-kovan:
    hosts:
        127.0.0.1:
            ansible_user: ubuntu
            VALIDATOR_ADDRESS_PRIVATE_KEY: "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" 
            #syslog_server_port: "udp://127.0.0.1:514"
