$base-images-path: '../images';

$container-width: 960px;
$container-responsive-width: 980px;
$tablet-width-landscape: 1024px;
$tablet-width: 768px;
$mobile-width: 414px;
$small-mobile-width: 360px;

$footer-height_desktop: 66px;
$footer-height_mobile: 160px;