.copy-icon {
    cursor: pointer;

    path {
        fill: $copy-icon-color;
    }

  &:hover {
    path {
      fill: $copy-icon-hover-color;
    }
  }
}

.copy-icon-right {
    margin-left: 10px;
}

.copy-icon-left {
    margin-left: 10px;
}
