.daily-quota-modal-container {

    @media screen and (max-width: $tablet-width) {
        display: none
    }

    .daily-quota-modal {
        background-image: url('#{ $daily-quota-modal-image }');
        background-position: center;
        background-repeat: no-repeat;
        height: 105px;
        position: fixed;
        width: 220px;
        z-index: 999;

        .modal-container {
            display: flex;
            flex-direction: column;
            height: 72px;
            justify-content: space-between;
            padding: 25px 15px 15px 15px;

            .daily-quota-title {
                color: $daily-quota-modal-title;
                font-size: 14px;
                font-weight: bold;
                text-align: left;
            }

            .daily-quota-description {
                color: $modal-text-color;
                font-size: 12px;
                height: 45px;
                text-align: left;
                width: 172px;
            }
        }
    }
}
