.footer {
  @extend %full-width;
  bottom: 0;
  color: $footer-text-color;
  padding: 18px 0;
  position: absolute;
  border-top: 1px solid #EBEEFA;

  .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: $tablet-width) {
      flex-direction: column;
    }
  }

  .copy-right {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #ADB5CC;
    @media screen and (max-width: $tablet-width) {
      padding-bottom: 20px;
    }
  }

  .t_and_c {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #677294;
  }

  .social-icons {
    // order: 2;

    @media screen and (max-width: $tablet-width) {
      margin-top: 20px;
    }
  }

  &-logo {
    background-image: url('#{ $footer-logo-image }');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: $footer-logo-height;
    left: 0;
    order: 0;
    width: $footer-logo-width;
  }

  &-logo-alternative {
    mask-image: url('#{ $footer-logo-image }');
    mask-size: contain;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: $footer-logo-height;
    left: 0;
    order: 0;
    width: $footer-logo-width;
    background-color: #9eaab6;

    &:hover {
      background-color: #75818d;
    }
  }
}
