.header-menu {
    align-items: center;
    display: flex;
    font-size: $header-font-size;
    width: calc(100% - 130px);
    @media screen and (max-width: $tablet-width) {
        display: none;
    }
    @media screen and (max-width: $tablet-width) {
        justify-content: flex-end;
        width: auto;
    }
}
