.header-wallet {
    // display: flex;
    // flex-direction: column;
    // height: 70px;
    // justify-content: space-evenly;
    // width: 220px;

    @media screen and (max-width: $tablet-width) {
        display: none;
    }

    .wallet-container {
        display: inline-flex;
        padding-left: 20px;
        align-items: center;

        .wallet-icon {
            margin-right: 10px;
        }
        .wallet-text {
            color: $header-menu-text-color;
            font-size: 14px;
            font-weight: normal;
            line-height: 16px;
            &:hover {
                text-decoration: none;
            }

          &-stake {
            font-weight: normal;
          }
        }
        .wallet-link {
            cursor: pointer;
        }
        .wallet-text-metamask {
            color: $header-menu-icon-color;
        }
    }

    .daily-quota-container {

        .daily-quota-progress {
            background-color: $daily-quota-progress;
            border-radius: 3px;
            height: 6px;
        }
    }
}
