.menu-items {
  font-weight: bold;
  margin: 0 15px;
  text-decoration: none;

  &-core,
  &-classic {
    line-height: 16px;
  }

  @media screen and (max-width: $mobile-width) {
    margin-left: 0;
  }

  &:hover {
    text-decoration: none;
    .menu-items-icon {
      path {
        fill: $header-menu-icon-color-selected;
      }
    }
  }
}

.menu-items-text {
  color: $header-menu-text-color;
  margin-left: 10px;
  line-height: 21px;

  &-selected {
    color: $header-menu-text-color-selected;
  }
}

.menu-items-icon {
  float: left;
  path {
    fill: $header-menu-icon-color;
  }

  &-selected {
    path {
      fill: $header-menu-icon-color-selected;
    }
  }
}
