.menu-items {
  font-weight: normal;
  margin: 0 15px;
  text-decoration: none;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;

  &-core,
  &-classic {
    line-height: 16px;
  }

  @media screen and (max-width: $mobile-width) {
    margin-left: 0;
  }

  &:hover {
    text-decoration: none;
  }
}

.menu-items-text {
  color: $header-menu-text-color;
  margin-left: 10px;
  line-height: 16px;

  &-selected {
    color: $header-menu-text-color-selected;
  }
}

.menu-items-icon {
  float: left;
}
