.mobile-menu-button {
    display: none;
    @media screen and (max-width: $tablet-width) {
        display: block;
        margin-right: 15px;
    }
    path {
        fill: $header-menu-icon-color;
    }
}