.NetworkSelect {
  display: flex;
  @media (min-width: $tablet-width) {
    position: relative;
    margin-left: 8px;
  }
}

.sw-Header_Content .NetworkSelect {
  display: none;
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.NetworkSelect_Top {
  display: flex;
  align-items: center;
  opacity: 1;
  transition: .15s ease-in;
  height: 50px;
  width: 100%;
  justify-content: center;
  cursor: pointer;

  @media screen and (max-width: $mobile-width) {
    height: 20px;
  }

  &:hover {
    opacity: 1;
    @media (min-width: $tablet-width) {
      .nl-IconNetwork_Arrow {
        transform: rotate(180deg);
      }
    }
  }
}

.nl-NavigationLinks_Link.opacityFull {
  opacity: 1;
  flex-direction: column;
  height: auto !important;
  margin-left: auto;
  @media screen and (max-width: $tablet-width) {
    margin-left: 0;
  }
}

.nl-IconNetwork_Arrow {
  margin-left: 10px;
  transition: .15s ease-in;
  path {
    fill: $header-menu-text-color;
  }
}

.NetworkSelect_List {
  z-index: 999;
  list-style: none;
  padding-left: 0;
  width: 220px;
  margin: 0;
  @media (min-width: $tablet-width) {
    background-image: url('#{ $network-select-modal-image }');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 127px;
    height: 89px;
    li:first-child {
      margin-top: 8px;
    }

  }
  li.currentNetwork {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }
  button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $header-menu-text-color;
    transition: .15s ease-in;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    @media (min-width: $tablet-width) {
      padding: 8px 18px;
      height: auto;
      color: $text-color;
      justify-content: flex-start;
      &:hover {
        background-color: #f7f7f7;
      }
    }
  }
}

.nl-NavigationLinks {
  display: flex;

  .hd-MobileMenuLinks & {
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.nl-NavigationLinks_Link {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  color: $header-menu-text-color;
  display: flex;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  margin-left: 0;
  opacity: 0.7;
  text-decoration: none;
  transition: opacity ease-in 0.15s, background-color ease-in 0.15s;

  &:active,
  &:hover,
  &.active {
    opacity: 1;
  }

  &.active {
    cursor: default;
    pointer-events: none;
  }

  .hd-MobileMenuLinks & {
    display: flex;
    flex-grow: 1;
    height: 50px;
    justify-content: center;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    margin-left: 10px;
  }
}

.nl-NavigationLinks_Text {
  margin-left: 8px;
  text-decoration: none;
}

.nl-IconNetwork_Path {
  fill: $header-menu-icon-color;
}

.Show-NetworkSelect_List {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 220px
  }
}
