.social-icons {
    display: flex;
}

.social-icons-item {
  align-items: center;
  background-color: $social-icons-background-color;
  border-radius: 3px;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-right: 10px;
  transition: box-shadow .15s ease-out;
  width: 30px;

  &:hover {
    box-shadow: 0 0 15px 0 hsla(0, 0, 40%, .3);
  }

  &:last-child {
    margin-right: 0;
  }

  svg {
    width: 16px;
  }

  path {
    fill: $social-icons-icon-color;
  }
}