{
  "plugins": ["node"],
  "extends": [
    "plugin:node/recommended",
    "airbnb-base",
    "plugin:prettier/recommended",
    "../.eslintrc"
  ],
  "rules": {
    "no-use-before-define": "off"
  }
}
