{
  "plugins": ["node"],
  "extends": [
    "plugin:node/recommended",
    "airbnb-base",
    "../.eslintrc"
  ],
  "rules": {
    "no-use-before-define": "off",
    "node/no-unpublished-require": "off"
  },
  "env": {
    "mocha": true
  }
}
