version: '2.4'
services:
  monitor:
    build:
      context: ..
      dockerfile: monitor/Dockerfile
    ports:
    - "${PORT}:${PORT}"
    env_file: ./.env
    environment: 
      - NODE_ENV=production
    restart: unless-stopped
    entrypoint: yarn check-all && yarn start
