{
  "extends": [
    "plugin:node/recommended",
    "airbnb-base",
    "../.eslintrc"
  ],
  "plugins": ["node", "jest"],
  "env": {
    "jest/globals": true
  },
  "globals": {
    "page": true,
    "browser": true
  }
}
