$theme-name: 'ethereum-classic';

// base colors
$primary-color: #31f896;
$primary-color-dark: #352d59;
$primary-color-darker: #17132b;
$secondary-color: #2be187;
$secondary-color-dark: #64a231;
$tertiary-color: #ffaa07;
$danger-color: #f13662;
$blue-color: #3ab9fe;
$base-button-bg-color: #08b3f2;

$text-color: #fff;
$link-color: $secondary-color;

$gradient-color-1: #352d59;
$gradient-color-2: #352d59;

// main
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
$main-background-color: #17132b;
$main-font-family: 'Nunito', sans-serif;

// header
$header-background-color: #221c3f;
$header-logo-width: 224px;
$header-logo-height: 41px;

// header menu
$header-menu-icon-color: $primary-color;
$header-menu-text-color: #fff;
$header-menu-icon-color-selected: $primary-color;
$header-menu-text-color-selected: #fff;
$header-font-size: 16px;

// daily quota
$wallet-text: #fff;
$daily-quota-background: rgba(255, 255, 255, 0.2);
$daily-quota-progress: $primary-color;

// footer
$footer-background-color: #221c3f;
$footer-logo-width: 158px;
$footer-logo-height: 29px;
$footer-text-color: #fff;

// separator
$separator-color: #333;
$separator-display: initial;

$container-background-image: $base-images-path + '/themes/' + $theme-name + '/background/background.png';

// background
$pattern-background-image: $base-images-path + '/themes/' + $theme-name + '/background/bg-pattern.svg';

// social icons
$social-icons-background-color: #343053;
$social-icons-icon-color: #b9b0e1;

// logo
$logo-image: $base-images-path + '/themes/' + $theme-name + '/logos/logo.svg';
$footer-logo-image: $logo-image;

//pumapay-logo
$pumapay-logo-image: $base-images-path + '/themes/' + $theme-name + '/logos/pumapay-logo.svg';
$footer-pumapay-logo-image: $pumapay-logo-image;

// home logo
$home-logo-image: $base-images-path + '/themes/' + $theme-name + '/logos/logo-home.svg';
$home-logo-image-modal: $home-logo-image;
$home-logo-width: 25px;
$home-logo-height: 39px;

// foreign logo
$foreign-logo-image: $base-images-path + '/themes/' + $theme-name + '/logos/logo-foreign.svg';
$foreign-logo-image-modal: $foreign-logo-image;
$foreign-logo-width: 24px;
$foreign-logo-height: 38px;

// buttons
$button-background-color: $secondary-color;
$button-text-color: #fff;

$button-background-color-2: $secondary-color;
$button-text-color-2: #fff;

$button-background-color-3: $secondary-color-dark;
$button-text-color-3: #fff;

$button-background-color-4: $primary-color-dark;
$button-text-color-4: #fff;

$button-bordered-background-color: #fff;
$button-bordered-text-color: $primary-color-dark;
$button-bordered-border-color: $primary-color-dark;
$button-transfer-cancel-border-radius: 3px;
$button-transfer-cancel-border: solid 1px $button-bordered-border-color;
$button-transfer-cancel-font-size: 15px;
$button-transfer-cancel-hover-opacity: 0.7;
$button-transfer-cancel-height: 40px;
$button-transfer-cancel-max-width: 49%;
$button-transfer-confirm-border-radius: 3px;
$button-transfer-confirm-font-size: 15px;
$button-transfer-confirm-hover-background-color: darken($button-background-color, 10%);
$button-transfer-confirm-height: 40px;
$button-transfer-confirm-max-width: 49%;

// modals
$modal-background-color: #fff;
$modal-overlay-background-color: rgba($primary-color-darker, 0.9);
$modal-title-color: $primary-color-dark;
$modal-text-color: #352d59;
$modal-link-color: $secondary-color;
$daily-quota-modal-title: $primary-color;
$modal-close-button: "../images/modal/close.svg";
$modal-close-button-padding: 15px;
$modal-close-button-right: -40px;
$modal-close-button-top: 40px;
$modal-close-button-top-mobile: -40px;
$modal-close-button-right-mobile: 0px;
$modal-min-width: 558px;
$modal-min-height: 410px;
$daily-quota-modal-image: $base-images-path + '/themes/' + $theme-name + '/bridge/daily-quota-modal.svg';
$network-select-modal-image: $base-images-path + '/themes/' + $theme-name + '/bridge/network-select-modal.svg';

// mobile menu
$mobile-menu-background-color: $primary-color-darker;
$mobile-menu-overlay-color: rgba($primary-color-darker, 0.9);

// loading
$loading-item-background-color: $secondary-color;
$loading-item-text-color: #fff;
$loading-logo: $base-images-path + '/themes/' + $theme-name + '/logos/logo-loading.svg';
$loading-logo-height: 50px;
$loading-logo-width: 234px;
$loading-logo-i-display: block;
$loading-text-font-size: 24px;
$loading-text-line-height: 3;
$loading-text-width: 500px;
$loading-container-justify-content: center;

// bridge section
$bridge-gradient-start: #fff;
$bridge-gradient-end: #fff;
$bridge-logo-background-color: #fff;
$bridge-link-color: $secondary-color;
$bridge-balance-color: #352d59;
$bridge-button-background-color: $button-background-color;
$bridge-button-text-color: $button-text-color;
$bridge-textfield-background: #f7f6ff;
$bridge-input-label-color: rgba(53, 45, 89, 0.5);
$bridge-label-color: $primary-color-dark;
$bridge-textfield-color: $primary-color-dark;
$bridge-textfield-placeholder-color: #666;
$bridge-side-image-width: 272px;
$bridge-side-image-height: 276px;
$bridge-image-backgroung: $base-images-path + '/themes/' + $theme-name + '/bridge/bridge_bg.png';
$bridge-image-center-pointing-left: $base-images-path + '/themes/' + $theme-name + '/transparent.png';
$bridge-image-center-pointing-right: $base-images-path + '/themes/' + $theme-name + '/transparent.png';
$bridge-image-center-pointing-down: $base-images-path + '/themes/' + $theme-name + '/transparent.png';
$bridge-image-left: $base-images-path + '/themes/' + $theme-name + '/bridge/pattern-1.png';
$bridge-image-right: $base-images-path + '/themes/' + $theme-name + '/bridge/pattern-2.png';
$bridge-transfer-title-color: $modal-text-color;
$bridge-transfer-width: 880px;
$bridge-transfer-button-height: 48px;
$bridge-transfer-button-width: 92px;
$bridge-transfer-button-border-radius: 3px;
$form-container-height: 276px;
$form-container-max-width: 384px;
$network-container-height: 136px;
$network-container-padding: 70px 1% 70px 5%;
$network-container-padding-foreign: 70px 5% 70px 1%;
$network-basic-label-font-size: 13px;
$info-icon-display: flex;
$network-show-more-font-weight: 700;
$network-container-justify-content: space-evenly;
$bridge-input-label-font-size: 24px;
$bridge-input-label-line-height: 48px;
$bridge-input-label-margin: 0 10px;
$bridge-transfer-button-border-radius: 0 0 3px 3px;
$button-bridge-form-hover-background-color: darken($bridge-button-background-color, 10%);
$button-transfer-cancel-hover-background-color: $button-bordered-background-color;
$button-transfer-cancel-hover-text-color: $button-bordered-text-color;

// Network details
$network-details-body-border-radius: 0 10px 10px 10px;
$network-details-body-mobile-height: 250px;

// bridge alert
$alert-logo-box-background-color: $primary-color;

// bridge transfer alert
$transfer-alert-height: 265px;
$transfer-alert-width: 600px;
$transfer-alert-border-radius: 8px;
$transfer-alert-container-width: 374px;
$transfer-alert-container-padding: 40px 60px 40px 0;
$transfer-alert-confirm-button-order: 0;
$transfer-alert-container-justify-content: space-around;
$transfer-description-padding: 10px 0 10px 0;
$transfer-buttons-padding: 20px 0 0;
$transfer-operation-arrow-line-image: $base-images-path + '/themes/' + $theme-name + '/transparent.png';
$transfer-operation-arrow-ellipse-image: $base-images-path + '/themes/' + $theme-name + '/transparent.png';
$transfer-operation-arrow-image: $base-images-path + '/themes/' + $theme-name + '/transparent.png';

// copy icon
$copy-icon-color: $primary-color;
$copy-icon-hover-color: $copy-icon-color;

// status section
$status-text-color: $text-color;
$status-authority-number-color: $text-color;
$status-authority-address-color: $primary-color;
$status-title-font-size: 24px;
$status-title-line-height: 3;
$status-title-font-weight: normal;
$status-title-letter-spacing: normal;
$status-title-text-transform: none;
$status-container-flex-direction: column;
$status-container-align-items: center;
$status-container-mobile-flex-direction: $status-container-flex-direction;
$status-container-justify-content: unset;
$status-container-padding: 30px 0 25px 0;
$status-title-padding: 0 0 0 0;
$status-page-container-mobile-width: 100%;
$status-configuration-data-display: grid;
$status-configuration-container-padding: 0 0 0 0;
$status-page-container-width: 70%;
$status-left-container: initial;

$status-authority-logo-0: $base-images-path + '/themes/' + $theme-name + '/status/authority/logo-0.svg';
$status-authority-logo-1: $base-images-path + '/themes/' + $theme-name + '/status/authority/logo-1.svg';
$status-authority-logo-2: $base-images-path + '/themes/' + $theme-name + '/status/authority/logo-2.svg';

// datablock
$datablock-value-color: $primary-color;
$datablock-value-font-size: 30px;
$datablock-value-line-height: 35px;
$datablock-type-font-size: 18px;
$datablock-type-line-height: 21px;
$datablock-type-font-weight: normal;
$datablock-type-margin-left: 10px;
$datablock-type-color: $primary-color;
$datablock-text-color: $text-color;
$datablock-container-width: auto;
$datablock-container-height: auto;
$datablock-container-background: transparent;
$datablock-container-border: none;
$datablock-container-box-sizing: unset;
$datablock-container-border-radius: 0;
$datablock-container-mobile-align-items: normal;
$datablock-container-mobile-justify-content: flex-start;
$datablock-container-margin: 0 0 0 0;
$datablock-description-font-size: 14px;
$datablock-description-line-height: 16px;

// statistics
$statistics-title-color: $text-color;
$statistics-title-font-size: $status-title-font-size;
$statistics-title-line-height: 1.5;
$statistics-title-font-weight: normal;
$statistics-title-letter-spacing: normal;
$statistics-title-text-transform: none;
$statistics-title-padding: 0 0 20px 0;
$statistics-fee-container-order: 0;
$statistics-fee-container-padding: 90px 0 0 0;
$statistics-fee-data-justify-content: center;
$statistics-fee-container-width: 50%;
$statistics-deposit-container-width: 40%;
$statistics-bridge-data-mobile-margin: 0 0 0 0;
$statistics-page-container-width: 70%;
$statistics-left-container-display: initial;
$pattern-background-display: initial;

// events
$events-title-color: $text-color;
$events-filter-color: #333;
$events-select-color: #333;
$events-column-title-color: $text-color;
$events-recipient-label-color: $text-color;
$events-value-color: $text-color;
$events-block-color: $text-color;
