[Unit]
Description=bridge
After=network.target

[Service]
User={{ service_user }}
Group={{ service_user }}
WorkingDirectory={{ bridge_path }}
Environment=RUST_LOG=info
ExecStart={{ bridge_path }}/bridge --config {{ bridge_path }}/config.toml --database {{ bridge_path }}/db.toml
Restart=always
{% if restart_delay_sec > 0 %}
RestartSec={{ restart_delay_sec }}
{% endif %}

[Install]
WantedBy=multi-user.target
