home_contract_address = "{{ bridge_home_contract_address }}"
foreign_contract_address = "{{ bridge_foreign_contract_address }}"
checked_deposit_relay = {{ last_checked_deposit_relay|default(bridge_home_contract_deploy) }}
checked_withdraw_relay = {{ last_checked_withdraw_relay|default(bridge_foreign_contract_deploy) }}
checked_withdraw_confirm = {{ last_checked_withdraw_confirm|default(bridge_foreign_contract_deploy) }}
