version: '3.0'
services:
  molecule_runner:
    build:
      context: ..
      dockerfile: molecule/Dockerfile
    restart: 'no'
    privileged: true
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
