#! /bin/bash

### BEGIN INIT INFO
# Provides:          tokenbridge-ui
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start daemon at boot time
# Description:       Enable service provided by daemon.
### END INIT INFO

WORKDIR="{{ '/home/' + compose_service_user | default('poadocker') + '/' + bridge_path + '/ui' if bridge_path[:1] != "/" else bridge_path + '/ui' }}"

start(){
    echo "Starting TokenBridge UI.."
    cd $WORKDIR
    sudo -u "{{ compose_service_user }}" /usr/local/bin/docker-compose  down -v
    sudo -u "{{ compose_service_user }}" /usr/local/bin/docker-compose  rm -fv
    sudo -u "{{ compose_service_user }}" /usr/local/bin/docker-compose  up  --detach
}

stop(){
    echo "Stopping TokenBridge UI.."
    cd $WORKDIR
    sudo -u "{{ compose_service_user }}" /usr/local/bin/docker-compose  down -v
    sleep 2
}

status(){
    echo "TokenBridge UI status:"
    cd $WORKDIR
    sudo -u "{{ compose_service_user }}" /usr/local/bin/docker-compose  ps
}

rebuild(){
    echo "Rebuild TokenBridge UI.."
    cd $WORKDIR
    sudo -u "{{ compose_service_user }}" /usr/local/bin/docker-compose  down -v
    sudo -u "{{ compose_service_user }}" /usr/local/bin/docker-compose  rm -fv
    sudo -u "{{ compose_service_user }}" /usr/local/bin/docker-compose  up  --detach --force-recreate --no-deps --build
}


case "$1" in

  start)
      start
    ;;

  stop)
      stop
    ;;

  status)
      status
    ;;

  restart)
    echo "Restarting TokenBridge UI.."
    stop
    start
    ;;

  rebuild)
    rebuild
    ;;

  *)
    echo $"Usage: $0 {start|stop|restart|rebuild|status}"
    exit 1
    ;;

esac

exit 0
